[build-system]
requires = [
    "setuptools",
    "cmake>=3.18",
    "cython>=0.29.33,<0.30.0",
    "ninja; platform_system!='Windows'",
    "numpy>=1.24.1,<2.0.0",
    "requires",
    "scikit-build>=0.16.7",
    "pyarrow == 13.0.0"]
build-backend = "setuptools.build_meta"
